<div class="row about-row noborder">	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
        <div class="col-md-12 col-sm-12">
          <h3>A few Don’ts, and very many Dos</h3>
          <p>StoryWeaver is a community platform that is intended to be as creative, clean, and enjoyable as the stories we produce.</p>
          <ul>
            <li>DO keep weaving. Keep reading, writing, illustrating, translating, and sharing.</li>
            <li>DO encourage friends and other Weavers to place these stories in the lives of children across the globe. </li>
            <li>DO encourage other Weavers. Like and comment on stories that made you smile, cry, or think.</li>
            <li>DO be nice. We’re nice. And we love other nice people.</li>
            <li>DO tag your stories. As the pool of stories grows, tags help other Weavers find your work.</li>
            <li>DO hold on to the nuances of the language and the story when you translate.</li>
            <li>DO remember that StoryWeaver reserves the right to delete any stories that do not comply with our guidelines.</li>
            </ul>
            <ul>
            <li>DON’T publish stories or illustrations that are not your own.</li>
            <li>DON’T use racist, obscene, derogatory, sexist, or hateful language. StoryWeaver is for children, and that must be kept in mind at all times while producing/reviewing work on the platform.</li>
            <li>DON’T write stories as a medium to push to your religious or political agenda.</li>
            <li>DON’T give out personal information. It's not safe.</li>
            <li>DON’T spam people. We’re nice, but we will ban you.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
