<div class="row about-row noborder">    
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">        
        <div class="col-md-12 col-sm-12">
          <div class="col-md-9 col-sm-9 faq-left-ques">

            <p id="faq1" class="faq-ques"></p>
            <h3>I am an ILLUSTRATOR</h3>
            <b>How will I benefit from contributing to StoryWeaver?</b>
            <p>StoryWeaver is a platform for anyone interested in reading and creating multilingual children’s books. From educators and publishers, to parents and authors, all stakeholders will use this collaborative platform to develop a rich digital repository of diverse children’s stories. StoryWeaver is an ideal place for you to showcase your work and be assured that it will receive a lot of visibility. In the past, Pratham Books has generated more opportunities of work for illustrators through their CC work. Read Megha Vishwanath’s story here. Also remember that every illustration you upload has the potential to inspire a new story and that by contributing to StoryWeaver’s image bank, you are helping build a reading India.</p>
            
            <b>How can I upload my illustrations?</b>
            <p>It’s really simple. Follow these  steps to upload your illustrations:
            <p>1.Go to the ‘Create’ tab and select the second option: Create a story from the image you like.</p>
            <p>2.This will open up the Illustrator search window. Select the 'Upload Your Illustration' button (top left)."</p>
            <p>3.Follow the simple steps mentioned and you are done. Thank you!</p>
            
            <b>What does it mean to have my illustrations be licensed under CC-BY?</b>
            <p>CC-BY is a very open and accommodating license. It lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. It is also likely to lead to new derivatives of your existing work. CC-BY is best suited to StoryWeaver’s mission of creating a repository of free children’s stories in open formats. You can read more about this license <a href="http://creativecommons.org/licenses/by/4.0/">here</a>.</p>

            <b>How will my illustrations be used on StoryWeaver?</b>
            <p>Your illustrations will be available to users of StoryWeaver for creation of new content. Our users - primarily teachers, librarians, writers and parents - can create stories around your illustrations, make flash cards, use it in magazines - the possibilities are endless.</p>
                       
            <b>Will I be able to see how my illustration is being used by users of StoryWeaver?</b>
            <p>Yes. Here are 3 ways in which you will be able to see how far and wide your work has travelled:</p>
            <p>1.Under the ‘My Illustrations’ tab in your profile page you will get information about all your illustrations and number of stories it has been used in.</p>
            <p>2.Through the notification email that you would have subscribed for. (If you haven’t, Subscribe now)</p>
            <p>3.You can also do a free flow search in our Search Box with the illustration’s title or your name to find its footprint across StoryWeaver.</p>
                       
            <b>Can I sell my illustration to another organization?</b>
            <p>Sure you can. The illustration is ultimately your work and you have every right to make a commercial gain out of it. However since the work is licensed under CC-BY the organization is not obligated to pay you. Our suggestion in this case is to let the organization know about StoryWeaver and its objective (building free story repository to the children in India with no access to reading material) and persuade them to compensate you for your efforts. Please note that StoryWeaver will not intervene in this matter.</p>
                       
            <b>Will I get paid if another organization uses my illustration?</b>
            <p>As a good practice an organization using your work for commercial gains should pay you, although the CC BY license under which all content is licensed on StoryWeaver does not bind them to do so.</p>
                        
            <b>Will I get attributed for my illustration?</b>
            <p>On StoryWeaver, we ensure that every illustrator gets due credit for their work. Your name will appear against your original artwork, and even when it has been used by others. But it is difficult for us to ensure that your work gets attribution once it leaves StoryWeaver. However, attribution is a very important component of the CC-BY license and we will encourage our users to stick to that.</p>
                        
            <b>What format should I submit my illustrations in?</b>
            <p>We welcome illustrations in JPG and PNG formats only as of now.</p>
                        
            <b>What styles should I submit my illustrations in?</b>
            <p>You can use any style of your choice. Take a look at our existing categories for illustration styles if you need a point of reference.</p>
            <p>Whatever style of illustration you choose, please ensure that you upload an illustration without any text embedded on it. All illustrations uploaded to StoryWeaver become part of a larger openly licensed image bank. We hope that many community members will find and use your illustration in their own work. For this to happen, please do follow this guideline!</p>
                        
            <b>Can users get in touch with me via StoryWeaver?</b>
            <p>You can connect with other users via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests. Anyone who wants to get in touch with you can do by tagging you at the discussion board.</p>
                        
            <b>Is there a limit to the number of illustrations I can upload?</b>
            <p>Absolutely not. The more, the merrier.</p>
                        
            <b>In what size should I submit my illustrations?</b>
            <p>For best results, please submit images that are at least 150 ppi (pixels per inch) or higher. This is to ensure that the image can be resized in different layouts, without compromising the quality of your image. In case you are scanning an illustration, we suggest that you capture your image using a high quality setting.</p>
                       
            <b>Do I need to be a professional illustrator to be able to submit my illustrations?</b>
            <p>If you think your illustration is good enough to be used in a story or a resource material, we welcome you to submit your illustrations. A degree or past experience is inconsequential.</p>
                        
            <b>Will my illustrations be modified?</b>
            <p>By modification, if you mean that the illustration can be cut and used or mixed with another illustration, the answer is NO. However, depending upon the story, a user might want to use a part of your illustration (let’s say just the girl from an illustration which has a jungle and a boy too), they could do the same by zooming in or placing the illustration in a specific manner on the story page.</p>
                       
            <b>Can I specify how I want to be attributed?</b>
            <p>Yes. While uploading your illustration, a form pops up asking for information regarding the illustration you are about to upload. This form has a tab for ‘Illustration Attribution’ which allows you to write the attribution for your own work, as you would like for it to appear.</p>
            <div class="section-divider"></div>

            <p id="faq2" class="faq-ques"></p>
            <h3>I am a WRITER</h3>
            <b>How will I benefit from writing on StoryWeaver?</b>
            <p>StoryWeaver is a common ground for people passionate about children’s books and reading to collaborate. From Educators and Parents, to Publishers and illustrators, all stakeholders will come on the platform to browse through stories. Since a digital story has no boundaries, your story can be read by people across the world. Apart from offering more visibility, StoryWeaver also gives you the opportunity to showcase your work to publishers who are always scouting for new authors.You could also collaborate with illustrators to bring out a new and exciting work or go for self-publishing.</p>
            <p>Also, every story that you write on StoryWeaver will mean more storybooks to read for India’s children. You are helping us build a reading India.</p>
                        
            <b>What does it mean to have my story be licensed under CC-BY?</b>
            <p>CC-BY is a very open and accommodating license. It lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. It also means new interpretations, new derivatives of your work. CC-BY is best suited to StoryWeaver’s mission of creating a repository of free children’s stories in open formats. You can read more about this license <a href="#">here</a>.</p>
                        
            <b>What age-group should I write my stories for?</b>
            <p>StoryWeaver is repository of children’s stories, so anyone aged between 3 and 14 is your reader. You can look at our Reading Levels to decide which age group your story is most suited for.</p>
                        
            <b>Is there a word limit while writing stories?</b>
            <p>The story creator does not enforce a word-limit. However, each layout is optimized for varying word limits. We encourage you to look at the guidelines for each level and use the recommended word-limits when writing stories.</p>
                        
            <b>How do I choose the reading level?</b>
            <p>Read about Reading Levels here. Choose the level which your story is most suited for.</p>
                        
            <b>How will people get to read my story?</b>
            <p>1.When you create a story, you will be required to put it under a category and attached tags to it. All this information will help users find your story more easily. For example, if a user is looking for animal stories, and your story is filed under the ‘Animal Stories’ category and has tags like Jungle, Tiger, Monkey etc, the user will find your story as soon as she applies the filters or does a search.</p>  
            <p>2.Similarly, users can find your story by searching for your name (author name) in the search box.</p>
            <p>3.We will also be featuring stories by category (new, popular, theme, etc) from time to time, so you will get more visibility there.</p>
                        
            <b>How can I keep track of derivatives of my story or/and see the number of reads?</b>
            <p>1.Under the ‘My Stories’ tab in your profile page, you will get information about: stories you have created, the number of times they have been read and its derivatives (Translated or Re-Leveled stories).</p>
            <p>2.Through the notification email that you would have subscribed for. (If you haven’t yet subscribed, do it now!)</p>
            <p>3.You can also do a free-flow search in our Search Box with the story’s title or your name to find its footprint across StoryWeaver.The original author's name will appear in all derivative versions.</p>
                        
            <b>Can I sell my story to another organization?</b>
            <p>Sure you can. The story is ultimately your work and you have a right to make a commercial gain out of it. But since your work will be licensed under CC-BY, the organization is not obligated to pay you. Our suggestion in this case is to let the organization know about StoryWeaver and its objective (building free story repository to the children in India with no access to reading material), and persuade them to compensate you for your efforts. Please note that StoryWeaver will not intervene in this matter.</p>
             
            <b>Will I get credit for my story?</b>
            <p>On StoryWeaver, you will get credit for your story as well its derivatives. When your story travels outside the platform, our control diminishes but we urge EVERY user of the platform to give due credit to the authors and illustrators.</p>
            
            <b>Can I write my story in any language?</b>
            <p>If you want to write a story in any of these languages (English,Hindi,Marathi,Kannada,Tamil,Telugu,Gujarati,Bengali,Assamese, Punjabi,Odia,Konkani,Malyalam) you can start writing right away. For a language which is not included in our list, please write to help@storyweaver.org.in and we'll try our best that you get to write the story in a language of your choice!</p>

            <b>Can I make changes to my story once it has been published?</b>
            <p>Yes, the ‘Edit’ button is your friend here. But use it judiciously, only to change grammar, punctuation or correct spellings. Remember changing your original story too much will affect its derivatives too.</p>

            <b>Can somebody else make changes to my story once it has been published?</b>
            <p>Nobody else, except you, can make changes to your story once it’s published.</p>

            <b>Can users get in touch with me via StoryWeaver?</b>
            <p>You can connect with other users via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests. Anyone who wants to get in touch with you can do by tagging you at the discussion board.</p>

            <b>Can I make changes to my story once it has been published?</b>
            <p>Yes, the ‘Edit’ button is your friend here. But use it judiciously, only to change grammar, punctuation or correct spellings. Remember changing your original story too much will affect its derivatives too.</p>
            <p>Follow these steps to make changes. Don't forget to republish your story!</p>
            <p>1. Log in to StoryWeaver.</p>
            <p>2. Click on 'Profile' (top right corner).</p>
            <p>3. Go to the tab- 'My Published Stories'.</p>
            <p>4. You will now be able to make changes to your story using the 'Edit' button.</p>
            <p>5. Once you finish editing your story, do make sure that you republish your story. In case you want to make changes to the title, synopsis or reading level, click the 'Publish' button and these details will appear. Do hit publish button to re-publish your story once all changes are made.</p>
            <div class="section-divider"></div>

            <p id="faq3" class="faq-ques"></p>
            <h3>I am a TRANSLATOR</h3>
            <b>How can I use StoryWeaver?</b>
            <p>StoryWeaver is a digital repository of multilingual children’s stories. We have stories in over 15 languages, and are constantly looking at adding more languages to this platform because our aim is simple: to reach as many children in India as possible. As a Translator, you can play an important role in our mission. Choose any story of your liking, and translate it in a language you are proficient in.StoryWeaver also is a great showcase tool for you. Publishers are always looking for good translators. By showcasing your work on StoryWeaver, you are increasing your chances of being discovered by organizations looking for competent translators.</p> 

            <b>Can I choose which stories I want to translate or will I be told?</b>
            <p>You have full freedom to pick any story and translate it, even if it has a translated version in that language already. However, it would be great if you could start with stories which haven’t yet been translated in that language.</p>

            <b>I am proficient in more than 1 language. Can I translate the same story in more than onelanguage?</b>
            <p>Yes! We like more: More languages = More readers</p>

            <b>I saw an existing translation, but I don’t think it’s correct. Can I change it?</b>
            <p>You cannot make changes to somebody else’s translation. But if you feel that a translation is not accurate, we would encourage you to create your own version of the translation.</p>

            <b>I want to translate a story in a language that is not included in StoryWeaver's list of languages. How do I translate?</b>
            <p>We would love to add more languages to StoryWeaver’s database. Please write to help@storyweaver.org.in and we will try to include that language as soon as possible.</p>

            <b>If I copy the text from a word file and then paste it in the text space of a story, is that okay?</b>
            <p>Yes. As long as the text is Unicode as StoryWeaver supports only Unicode fonts.</p>

            <b>Why Unicode?</b>
            <p>Unicode is ideal for StoryWeaver because it’s a universally accepted standard display of font. This means that when you type in Unicode in any language and view it on any other computer, it will display the same (even if the computer does not have the necessary software/font for the language?)</p>

            <b>How do I know the font I am using is Unicode?</b>
            <p>A good way to check is to copy the text and paste it on the body of an email ('Compose') or on Google Translate. If it displays correctly, you are using a Unicode font. If it shows all junk characters, you need to switch to a Unicode font.</p>

            <b>I copied text from a word file on my computer but when I pasted it on StoryWeaver, it’s not showing properly. What do I do?</b>
            <p>This means that the font that you are using is not Unicode. You need to type the text in a Unicode font as StoryWeaver supports only Unicode. Refer questions above to know more.</p>

            <b>I cannot type in the language, though I can speak and understand it. Can I translate?</b>
            <p>For translating on StoryWeaver, it is essential to be able to write or type in that particular language. There is no other way you can translate a story and put it up on the platform.</p>

            <b>Can I edit my translation after the story is published?</b>
            <p>Yes. Since you are the author of your translated story, you can make edits even after it has been published. But make edits judiciously, only to change grammar, punctuation or correct spellings. Remember that changing your original story/translation too much will affect its derivatives too.</p>

            <b>Will I get credit for my translation?</b>
            <p>Yes. The front cover of the storybook that you translated will carry your name with due credits given to you as a translator.</p>

            <b>Can I get paid for my translation?</b>
            <p>The stories that you translate on StoryWeaver has no remuneration involved. But remember that your translations will help reach more children in India who are in need of good quality reading material in their language.</p>
            <p>However, StoryWeaver is a common ground for people passionate about children’s books and reading to collaborate. From Educators and Parents, to Authors and Illustrators, to Librarians and Publishers all stakeholders will come on the platform to browse for stories. Your translated stories on the platform will get a lot of visibility to your work as a translator which could be noticed and picked up by Authors and Publishers. Many new collaborations could spring up through these interactions.</p>

            <b>How does the transliteration tool work?</b>
            <p>The transliteration tool used in StoryWeaver enables you to type in English as the input language and uses phonetics to create output characters in the output language. For example, you can type in “namaste” to get "नमस्ते" in Hindi, which sounds like “namaste”. As you start typing the word in English, a list of possible transliterations appear for you to select. The purpose of the transliteration tool is to enable language speakers who may not be proficient in typing using the language keyboard layouts to use the standard English keyboard and their knowledge of phonetics to write in the language of their choice. In case you have a language keyboard, or have enabled a language keyboard layout on a standard English keyboard, you click on “Keyboard” to type directly using language characters. In this case, the transliteration tool is disabled. To enable the transliteration tool, toggle on the keyboard button and click on the language name.</p>
            <div class="section-divider"></div>

            <p id="faq4" class="faq-ques"></p>
            <h3>I am a PUBLISHER</h3>
            <b>How will StoryWeaver help me?</b>
            <p>New stories, new authors, new illustrators, new translators-StoryWeaver will help you discover a wealth of resources.As a publisher, as somebody looking for new talent, StoryWeaver is a perfect showcase for you for new content.The platform will be your new and free book agent!</p>
            <p>Publishers can also include their titles on StoryWeaver. The advantage of it being a digital platform is that these stories can live forever and be accessible to readers across the world. So if you have any titles that have remained out of print for long, you can bring it back to life through StoryWeaver. At Pratham Books, we have noticed that our titles which have been made available for online reading are bringing in more sales.</p>

            <b>If I publish a story that I found on StoryWeaver, do I have to credit StoryWeaver?</b>
            <p>Legally no, but it would be really nice if you do :). After all, you discovered the story here. Attributing us will also bring more people to this collaborative platform and help read, create, translate and share more stories.</p>

            <b>If I publish a story that I found on StoryWeaver, do I have to pay the contributors (writer/author, illustrator and translator) anything?</b>
            <p>The CC–BY license that we use on StoryWeaver is the most liberal CC license, which means that legally you are not obliged to pay the creators or translators of the story. But as a good practise, you should compensate the creators. After all, creating a story requires a lot of time and effort.</p>
    
            <b>If I publish a story that I found on StoryWeaver, can I sell it for any amount of my choice?</b>
            <p>Yes. How much you charge for the story is entirely up to you.</p>

            <b>How would I benefit from my stories being on StoryWeaver?</b>
            <p>StoryWeaver is a common ground for people passionate about children’s books and reading to collaborate. From Educators and Parents, to Authors and Illustrators, to Librarians and Translators all stakeholders will come on the platform to browse for stories.The advantage of showcasing your stories on a digital platform is that these stories can live forever and be accessible to readers across the world. So if you have any titles that have remained out of print for long, you can revive it through StoryWeaver. At Pratham Books, we have noticed that the titles which we have made available for online reading are bringing in more sales. Also bear in mind that your stories can result in the creation of many more derivatives: remixed stories, translations, etc. The possibilities for collaboration are endless! </p>

            <b>If another publisher picks up one of our stories from StoryWeaver, will we get paid?</b>
            <p>All stories on StoryWeaver will be licensed under the CC-BY license. Once a story is licensed as CC-BY, there are no legal or monetary obligations, and all transactions are left to the discretion of the organization/publisher picking up the story. However, StoryWeaver urges all users of the platform to give due credit to the creators of every story.</p>

            <b>If we wanted to include our stories on StoryWeaver, would we have to change our author-illustrator contracts?</b>
            <p>For any of your stories to be included on StoryWeaver, it needs to be licensed under CC-BY. In this case, you will have to change your existing contracts with authors and illustrators for the story to be licensed under CC BY</p>

            <b>Will I be able to see how my stories are being used on StoryWeaver (example: translations, readers, etc)?</b>
            <p>Yes!</p>
            <p>There are two ways in which you can see how your stories are being used. One, on your profile page, you can the number of reads and derivatives for each story. Two, on the story detail page, which is accessible to all users, you can see the number of reads, likes, and also view the other versions that have been woven.</p>

            <b>Is there a way for me to get in touch with authors, illustrators and translators via StoryWeaver?</b>
            <p>Yes. You can connect with other users via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests.</p>

            <b>As a Publisher, will I be able to edit the books that I have uploaded on the platform?</b>
            <p>Yes, the ‘Edit’ button is your friend here. But use it judiciously, only to change grammar, punctuation or correct spellings. Remember that changing your original story too much will affect its derivatives too.</p>

            <b>As a publisher, how will users find all of my stories on the platform?</b>
            <p>1.As a publisher you will enjoy certain privileges on the platform, one of which is being able to include your logo on each of your stories on StoryWeaver. This means a user just has to follow your Logo to find all the stories on the platform.</p>
            <p>2.As a publisher, you also get to attach a 'Recommended' tag to all your stories. This will make your stories more accessible as many users are likely to look for 'Recommended' stories.</p>
            <p>3. Users can also find your stories via the search box. All they have to do is type your name or the story title.</p>
            <div class="section-divider"></div>

            <p id="faq5" class="faq-ques"></p>
            <h3>I am an EDUCATOR</h3>
            <b>How will this platform help me?</b>
            <p>StoryWeaver is a great tool for educators. You will find a treasure trove of stories here for various age groups and Reading Levels, that too in over 15 languages. This means unlimited teaching resources, whether you are using a story to teach Language or getting the students to do independent reading.</p> 
            <p>Not only that, you can use StoryWeaver to help your students turn into authors and encourage writing in the classroom. Through our Story-Creator tool, you can also run story-writing projects for your class.</p>

            <b>If I want to run a story-writing project for my class, can I do it via StoryWeaver?</b>
            <p>Yes. StoryWeaver is an ideal platform for a writing project. But stories cannot be created without logging in, so you can share your username with your entire class or ask them to create their own (if they have email ids of their own) and get started.</p>

            <b>Do you have some resources (ideas, activities) that I can use in my class along with the stories?</b>
            <p>Currently, we have not built any story-specific resources, but we would encourage you to do so. Do share them with us via email (contact@storyeaver.org.in) so that we can put it up for it to be used by other educators.</p>

             <b>want some recommendations on the kind of books I can use in my class. Can I get recommendations here?</b>
            <p>Yes. You could look up the ‘Recommended’ stories on the READ tab to see all the stories recommended by our editors. Alternatively, you could ‘ask’ for Recommendations from the community using our CONNECT tab. Looking at the ‘most popular’ stories is a good start too.</p>

            <b>Are your Level 3 books for Standard 3rd or Grade 3? Does level mean the same thing as grade/standard/class?</b>
            <p>No. The age or grade of a child is not always an indicator of their reading level. For example, a child in Grade 1 may be able to read a Level 3 book fluently, but a child in Grade 3 may not be able to read a Level 3 book. Also remember that children need not be at the same reading level across languages. For example, a child's reading level in Marathi may be three but in Hindi may be one! Please go through our Reading Level Guide to pick a suitable story for each child.</p>

            <b>Can I use the books to teach languages?</b>
            <p>Exposure to books and stories help children gain better understanding of the language in written form. So while a book may not be a direct tool for ‘teaching’ a language, exposure to children in that story in that language helps build language skills. For the same purpose, Bilingual books come handy as they are great for children to identify and read in a second language.</p>

            <b>I saw something on the platform which isn’t age-appropriate for my children. What can I do about it?</b>
            <p>If it is not ‘age-appropriate’ for your children, it is best to ignore it or block access to it for your children. But if you feel the content is not appropriate for children of any age group, do ‘Report’ the story by clicking on the Flag in the top right corner of the Story Details page.</p>

            <b>How do I print the story I want?</b>
            <p>You will find a download button at the bottom panel of every Story Details page. Click there to download the pdf version of the story and it can be printed on an A4-sized paper.</p>

            <b>Can I edit an existing story on StoryWeaver?</b>
            <p>Nobody except the original author is allowed to edit a story on StoryWeaver. However, you can ‘Translate’ or ‘Re-level’ an existing story to suit your requirements.</p>

            <b>How do I find stories based on themes?</b>
            <p>Our Story Categories have been designed to help users find stories based on themes. Applying filters for any of the existing categories (Animal Stories, History, etc) will make your search more efficient. The stories on StoryWeaver are also tagged in order to make your search easier.</p>

            <b>My school has a computer, but a very bad internet connection. Can we use StoryWeaver without internet?</b>
            <p>While StoryWeaver cannot be used without Internet, one can browse for stories and download them while they are online, and read these later or get it printed.</p>

            <b>I want some stories to read-aloud in class. Where can I find these on StoryWeaver?</b>
            <p>Go to our Read-Aloud category to find all stories suitable for reading aloud. Applying 'Reading Level' filters will further help you find a story suitable for your class.</p>

            <b>Can we get in touch with authors and illustrators via StoryWeaver?</b>
            <p>You can connect with other users via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests. Anyone who wants to get in touch with you can do by tagging you at the discussion board.</p>

            <b>Can I edit/create a story anonymously?</b>
            <p>No, the name of the author is always displayed on the front cover of the book. You can, however, choose a display name of your choice (his doesn't have to be your real name. Like a pen name!).</p>
            <div class="section-divider"></div>

            <p id="faq6" class="faq-ques"></p>
            <h3>I am a STORYTELLER</h3>
            <b>How will this platform help me?</b>
            <p>Stories. Lots of them. In multiple languages. StoryWeaver will help you get access to hundreds of new stories, in over 15 languages so that you never run out of stories for your story telling sessions.</p>
            <p>Also, you can choose to re-level stories depending on the age of your audience. Or you can get inspired by our bank of amazing illustrations and create a whole new story to read out in your next session. This platform is really your playground.</p>

            <b>How do I use the stories that are here? How do I carry them to my session?</b>
            <p>Each of the stories on StoryWeaver are segregated Reading Level wise. You can choose the one you would want to read out depending on the age of your audience. You can download the stories via the download button at the bottom of the story detail page and either read them on any of your devices (laptop, tablet or mobile) or print and carry them to your session.</p>

            <b>If I use one of the stories from StoryWeaver, do I have to inform or credit anyone?</b>
            <p>It will be really nice if during your story telling session you can mention to the audience that the story is from StoryWeaver. It will encourage more people to use and benefit from the platform.</p>

            <b>I have a few stories that I made up during my sessions. Can I put them here?</b>
            <p>Yes! Use our CREATE tab to pen your story here. Pep it up by adding illustrations too.</p>

            <b>I like a story very much, but the ending is not to my liking. Is it possible to change it?</b>
            <p>You cannot change the original story or any story written by another author. You may, however choose to re-write the story by using our Create tab or even change the Reading level basis the age of your audience.</p>

            <b>The illustration gallery is great and gives me a ton of ideas. Can I use the illustrations in my sessions?</b>
            <p>Yes. You can download them and use them in your session by showing it on devices or printing them. It is a good practice to mention to your audience who the illustrator is and where did you source these illustrations from.</p>

            <b>I have made some activities around one of the stories which could help others too. How do I share them with everyone?</b>
            <p>Currently we don’t have a platform where you can upload the resources/activities you have built. However we will encourage you to share them with us once you build them so that we can put it up to be used by other users.</p>

            <div class="section-divider"></div>

            <p id="faq7" class="faq-ques"></p>
            <h3>I am a PARENT</h3>
            <b>How will this platform help me?</b>
            <p>Stories are a great resource to keep your children creatively engaged. Reading also helps a child’s development both academically as well personality wise. At StoryWeaver you will find hundreds of stories for children for different reading levels. Also the stories are in multiple languages so your child can read a story in her mother tongue, a language she is trying to learn or just a language she is already proficient in. This is a treasure trove. Dive in.</p>

            <b>How can I know which is the most suitable story for my child?</b>
            <p>Each story will have a badge of the reading level it caters too (Level1, 2,3 or 4). You need to match this to your child’s reading level. To gauge your child’s reading level, know more about it here.</p>

            <b>How do I get my child to read more on StoryWeaver?</b>
            <p>Let your child discover StoryWeaver on her own. Let her look up stories she likes and let her read. Once she finds content she likes, she will automatically read more on StoryWeaver.</p>

            <b>My child loves the stories here and I want to print one of her favorite stories as return gifts for her birthday. How do I do it?</b>
            <p>Such a lovely idea! Please use the download button at the bottom panel of the story detail page to download the story. It will download in a pdf version which you can now print in A4 size sheets.</p>

            <b>I want to talk to other parents and know what their children are reading. How can I?</b>
            <p>You can connect with other users, including other parents via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests. Anyone who wants to get in touch with you can do by tagging you at the discussion board.</p>
            <div class="section-divider"></div>
           </div>
           <div class="col-md-3 col-sm-3 fixed-ques-bar nopadding affix-top" data-spy="affix" data-offset-bottom="250" data-offset-top="200">
                <ul>
                     <li class="active"><a href="#faq1">I am an ILLUSTRATOR</a></li>
                     <li><a href="#faq2">I am a WRITER</a></li>
                     <li><a href="#faq3">I am a TRANSLATOR</a></li>
                     <li><a href="#faq4">I am a PUBLISHER</a></li>
                     <li><a href="#faq5">I am an EDUCATOR</a></li>
                     <li><a href="#faq6">I am a STORYTELLER</a></li>
                     <li><a href="#faq7">I am a PARENT</a></li>
                 </ul>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
